body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-87px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u824 {
  position:absolute;
  left:87px;
  top:45px;
  width:433px;
  height:62px;
}
#u825 {
  position:absolute;
  left:2px;
  top:23px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u826 {
  position:absolute;
  left:87px;
  top:107px;
  width:30px;
  height:803px;
}
#u827 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u828 {
  position:absolute;
  left:117px;
  top:851px;
  width:373px;
  height:59px;
}
#u829 {
  position:absolute;
  left:2px;
  top:22px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u830 {
  position:absolute;
  left:490px;
  top:107px;
  width:30px;
  height:803px;
}
#u831 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u832 {
  position:absolute;
  left:116px;
  top:111px;
  width:375px;
  height:736px;
}
#u833 {
  position:absolute;
  left:2px;
  top:360px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u835 {
  position:absolute;
  left:153px;
  top:81px;
  width:25px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u836 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:10px;
}
#u837 {
  position:absolute;
  left:453px;
  top:84px;
  width:20px;
  height:10px;
}
#u838 {
  position:absolute;
  left:2px;
  top:-3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u840 {
  position:absolute;
  left:413px;
  top:90px;
  width:2px;
  height:3px;
}
#u841 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
}
#u842 {
  position:absolute;
  left:416px;
  top:88px;
  width:3px;
  height:5px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:7px;
}
#u844 {
  position:absolute;
  left:420px;
  top:86px;
  width:2px;
  height:7px;
}
#u845 {
  position:absolute;
  left:2px;
  top:-4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:11px;
}
#u846 {
  position:absolute;
  left:423px;
  top:82px;
  width:2px;
  height:11px;
}
#u847 {
  position:absolute;
  left:2px;
  top:-2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:11px;
}
#u848 {
  position:absolute;
  left:431px;
  top:83px;
  width:17px;
  height:11px;
}
#u849 {
  position:absolute;
  left:2px;
  top:-2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:97px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:116px;
  top:70px;
  width:375px;
  height:97px;
}
#u851 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852 {
  position:absolute;
  left:116px;
  top:167px;
  width:375px;
  height:636px;
  overflow:hidden;
}
#u852_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:636px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u852_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:636px;
  overflow:hidden;
}
#u853_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:636px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u853_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:37px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u854 {
  position:absolute;
  left:0px;
  top:1186px;
  width:375px;
  height:37px;
}
#u855 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:167px;
}
#u857 {
  position:absolute;
  left:2px;
  top:76px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u858 {
  position:absolute;
  left:18px;
  top:183px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u860 {
  position:absolute;
  left:24px;
  top:223px;
  width:29px;
  height:16px;
  color:#999999;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u862 {
  position:absolute;
  left:82px;
  top:223px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u864 {
  position:absolute;
  left:141px;
  top:223px;
  width:29px;
  height:16px;
  color:#999999;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u866 {
  position:absolute;
  left:199px;
  top:223px;
  width:57px;
  height:16px;
  color:#999999;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:3px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u868 {
  position:absolute;
  left:82px;
  top:244px;
  width:29px;
  height:3px;
}
#u869 {
  position:absolute;
  left:2px;
  top:-6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:2px;
}
#u870 {
  position:absolute;
  left:-4px;
  top:251px;
  width:379px;
  height:1px;
}
#u871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u872 {
  position:absolute;
  left:19px;
  top:273px;
  width:39px;
  height:39px;
}
#u873 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u874 {
  position:absolute;
  left:72px;
  top:285px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u876 {
  position:absolute;
  left:24px;
  top:328px;
  width:217px;
  height:16px;
  color:#999999;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:171px;
}
#u878 {
  position:absolute;
  left:0px;
  top:-4px;
  width:375px;
  height:171px;
}
#u879 {
  position:absolute;
  left:2px;
  top:78px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:153px;
}
#u880 {
  position:absolute;
  left:18px;
  top:362px;
  width:156px;
  height:153px;
}
#u881 {
  position:absolute;
  left:2px;
  top:68px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:153px;
}
#u882 {
  position:absolute;
  left:188px;
  top:362px;
  width:156px;
  height:153px;
}
#u883 {
  position:absolute;
  left:2px;
  top:68px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:153px;
}
#u884 {
  position:absolute;
  left:18px;
  top:533px;
  width:156px;
  height:153px;
}
#u885 {
  position:absolute;
  left:2px;
  top:68px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u887 {
  position:absolute;
  left:99px;
  top:710px;
  width:18px;
  height:16px;
}
#u888 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:4px;
}
#u889 {
  position:absolute;
  left:102px;
  top:715px;
  width:12px;
  height:4px;
}
#u890 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u891 {
  position:absolute;
  left:18px;
  top:709px;
  width:18px;
  height:18px;
}
#u892 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u893 {
  position:absolute;
  left:188px;
  top:711px;
  width:17px;
  height:16px;
}
#u894 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u895 {
  position:absolute;
  left:42px;
  top:711px;
  width:17px;
  height:16px;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u897 {
  position:absolute;
  left:127px;
  top:711px;
  width:17px;
  height:16px;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u899 {
  position:absolute;
  left:217px;
  top:711px;
  width:17px;
  height:16px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u901 {
  position:absolute;
  left:0px;
  top:748px;
  width:375px;
  height:12px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:72px;
  top:798px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u905 {
  position:absolute;
  left:24px;
  top:841px;
  width:107px;
  height:16px;
  color:#999999;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u908 {
  position:absolute;
  left:99px;
  top:1142px;
  width:18px;
  height:16px;
}
#u909 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:4px;
}
#u910 {
  position:absolute;
  left:102px;
  top:1147px;
  width:12px;
  height:4px;
}
#u911 {
  position:absolute;
  left:2px;
  top:-6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u912 {
  position:absolute;
  left:18px;
  top:1141px;
  width:18px;
  height:18px;
}
#u913 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u914 {
  position:absolute;
  left:188px;
  top:1143px;
  width:17px;
  height:16px;
}
#u915 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:42px;
  top:1143px;
  width:25px;
  height:16px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:127px;
  top:1143px;
  width:25px;
  height:16px;
}
#u919 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:217px;
  top:1143px;
  width:17px;
  height:16px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:235px;
}
#u922 {
  position:absolute;
  left:18px;
  top:875px;
  width:325px;
  height:235px;
}
#u923 {
  position:absolute;
  left:2px;
  top:110px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u924 {
  position:absolute;
  left:19px;
  top:787px;
  width:39px;
  height:39px;
}
#u925 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:2px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:363px;
  top:858px;
  width:18px;
  height:2px;
}
#u927 {
  position:absolute;
  left:2px;
  top:-7px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u928 {
  position:absolute;
  left:263px;
  top:128px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u931 {
  position:absolute;
  left:126px;
  top:114px;
  width:36px;
  height:36px;
  opacity:0;
}
#u932 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:19px;
}
#u933 {
  position:absolute;
  left:138px;
  top:124px;
  width:11px;
  height:19px;
}
#u934 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u935 {
  position:absolute;
  left:452px;
  top:130px;
  width:18px;
  height:12px;
}
#u936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u937 {
  position:absolute;
  left:138px;
  top:823px;
  width:48px;
  height:25px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u939 {
  position:absolute;
  left:211px;
  top:823px;
  width:48px;
  height:25px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u941 {
  position:absolute;
  left:348px;
  top:823px;
  width:48px;
  height:25px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u943 {
  position:absolute;
  left:422px;
  top:823px;
  width:48px;
  height:25px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:25px;
}
#u945 {
  position:absolute;
  left:289px;
  top:823px;
  width:29px;
  height:25px;
}
#u946 {
  position:absolute;
  left:2px;
  top:4px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
